<div class="header-container">

    <div class="top-header">
    
    <div class="top-header-text">
    <h1>
    ძალისის ნაქალაქარის შესახებ ვიდეოს სანახავად
    <a href="https://www.youtube.com/watch?v=_c2WBG0arKc"> 
        <button>დააჭირეთ ამას</button> 
        
    </a>
    
    
    </h1>
    
    
    </div>
    
    </div>
    
    <div class="bottom-header">
          <div class="bottom-header-nav-container">
                    <nav class="navs">
                        <ul>
                            <li><a routerLink="home" routerLinkActive="active">მთავარი</a></li>
                            <li><a routerLink="/pictures" routerLinkActive="active">სურათები</a></li>
                            <li><a routerLink="/full-info" routerLinkActive="active">სრული ინფორმაცია</a></li>
                            <li><a routerLink="/history" routerLinkActive="active">ისტორია</a></li>
                            <li><a routerLink="/arch" routerLinkActive="active">არქიტექტურა</a></li>
                            <li><a routerLink="/ad-info" routerLinkActive="active">დამატებითი ინფორმაცია</a></li>
    
                        </ul>
                    </nav>
                </div>
            </div>
    </div>
    
              
