<div class="main">

    <div class="main-picture">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Dzalisi_ruins_%28Photo_A._Muhranoff%29.jpg/330px-Dzalisi_ruins_%28Photo_A._Muhranoff%29.jpg" alt="">
        <span>
           <p>არქეოლოგიური გათხრები ძალისში</p>
    
        </span>
    </div>
    <div class="main-info">
    
        <h1>
            ნაქალაქარზე გაითხარა ტაძარ-სასახლის (ტაძარი, სასახლე, აბანო) და აბანოს კომპლექსები. აბანოები ნაშენია რიყის ქვითა და დუღაბით, ყველა სხვა ნაგებობა – ალიზის აგურით. ტაძარ-სასახლეების კედლები შიგნიდან გაჯით, ზოგჯერ კი სუფთა კირხსნარითაა შელესილი. ყველა ნაგებობა გადახურული ყოფილა კრამიტით, დიდი რაოდენობით აღმოჩნდა კერამიკული მასალა, სარკმლის მინის და მინის ჭურჭლის ნატეხები, ლითონის ნივთები და ა.შ. მოპოვებული მასალა ინახება საქართველოს სახელმწიფო მუზეუმში, მცხეთის მუზეუმსა და ნასტაკისის ექსპედიციის ბაზაზე.
        </h1>
    </div>
    
    
    </div>