
<div class="main">

    <div class="main-picture">
    
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Dzalisi_-_general_view.jpg/330px-Dzalisi_-_general_view.jpg" alt="">
    </div>
    <div class="main-info">
    
        <h1>
            ძალისი — ანტიკური ხანის ერთ-ერთი მნიშვნელოვანი არქეოლოგიური ძეგლი, ნაქალაქარი მდებარეობს დღევანდელ სოფელ ძალისში, მუხრანის ველზე, მდინარე ნარეკვავის ორივე ნაპირზე, მცხეთიდან ჩრდილო-დასავლეთით 20 კმ-ის დაშორებით და იდენტიფიცირებულია ქალაქ ძალისასთან (Zalissa), რომელსაც ახ. წ. II საუკუნის ბერძენი გეოგრაფი კლავდიოს პტოლემაიოსი „გეოგრაფიულ სახელმძღვანელოში“ (Geographike Hyphegesis) იბერიის აღწერისას სხვა ქალაქებთან ერთად იხსენიებს.
        </h1>
    </div>
    
    
    </div>