<div class="main-buttons">

      


      

    <a href="ab-au">
     <button routerLink="ab-au">აბანო/აუზი</button>
    </a>

 </div>

<div class="main">

<div class="main-img"></div>
<img class="haeee" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Relief_map_of_Mtskheta-Mtianeti.svg/500px-Relief_map_of_Mtskheta-Mtianeti.svg.png" alt="">
<img class="haeeee" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Relief_locator_Map_of_Georgia.svg/500px-Relief_locator_Map_of_Georgia.svg.png" alt="">

<div class="main-info">
<p>
 ნარეკვავი — მდინარე მცხეთა-მთიანეთის მხარეში, რომელიც დუშეთისა და მცხეთის მუნიციპალიტეტებში მიედინება. მისი სათავე ალევის ქედის სამხრეთ ბოლოზე მდებარეობს, ზღვის დონიდან 1360 მეტრზე, და ერთვის მდინარე არაგვს მარჯვნიდან. მდინარის სიგრძე 47 კმ-ია, ხოლო აუზის ფართობი 277 კმ². ნარეკვავი საზრდოობს წვიმის, თოვლისა და მიწისქვეშა წყლებით. წყალდიდობა იცის გაზაფხულზე, წყალმცირობა — წლის დანარჩენ დროს, ხოლო წყალმოვარდნა — შემოდგომაზე. საშუალო წლიური ხარჯი შეადგენს 1,86 მ³/წმ-ს. მდინარე გამოიყენება სარწყავად.

 </p>

 <p>
  
 </p>
</div>

