.main-buttons{

    margin: 70px 500px;
    
    }
    .main-buttons button{
        width: 170px;
        height: 60px;
        border: none;
        background-color:rgba(192, 116, 61, 0.788);
        border-radius: 5px;
        cursor: pointer;
        margin: 0px 15px;
        font-size: 20px;
        font-family: sans-serif;
    }
    .main-buttons a{
        text-decoration: none;
       
    }
    .main-img{
        display: flex;
       justify-content: center;
    }
    .haeee{
        width: 30% !important;
        object-fit: cover;
    }
    .haeeee{
        width: 50%;
        height: 500px;
        object-fit: cover;
        margin: 0px 80px;
    }
   .main-info{
    padding: 50px;
   }
   .main-info p{
    font-size: 25px;
   }
    .main-buttons button:hover{
        opacity: 0.9;
        width: 175px;
        height: 62px;
    }