<div class="main-buttons">

      


      

    <a href="ad-info">
     <button routerLink="">უკან</button>
    </a>

 </div>

<div class="main">

<div class="main-img"></div>

<div class="main-info">
<p>
<strong>ძალისის სასახლის აბანო</strong>-სასახლის გვერდით მდებარეობს. იგი რომაული ტიპისაა და სამი (ცივი, თბილი და ცხელი) განყოფილებისაგან შედგება. სამივე განყოფილება ერნაირი სიდიდისაა და ჩრდილოეთისა და სამხრეთის მხარეს ნახევარწრიული აფსიდები აქვთ. თითოეული აბანოს სიგრძეა 5 მ, ხოლო სიგანე – 2,5 მ. აბანოს ქვის კედლები შიგნიდან და გარედან შელესილია. ცხელი და თბილი აბანოების ქვეშ ჰიპოკაუსტების სისტემის გათბობაა მოწყობილი, რომლის სვეტებისათვის ბრტყელი, კვადრატული და მრგვალი აგურია გამოყენებული. ცივ აბანოში მოზაიკური იატაკი ყოფილა. მოზაიკას შემოვლებული აქვს არშია მცენარეული ორნამენტით, არშიის შიგნით კი ზღვის ფაუნაა გამოსახული. მოზაიკა ყოფილა თბილ აბანოშიც, რაც იშვიათია. აბანოებს გასახდელი – იპოდიტერიუმი ემიჯნება. იპოდიტერიუმი გეგმაში სწორკუთხაა და მთელი იატაკი სიმეტრიული გეომეტრიული გამოსახულებებითაა დაფარული.
 </p>
 <p>
 <strong>ძალისის საცურაო აუზი</strong>-საქართველოსათვის სრულიად უნიკალური ნაგებობაა. იგი გეგმაში სწორკუთხაა და ოთხივე მხარეს, კედლების ცენტრში ნახევარწრიული აფსიდები აქვს. აუზის სიგრძეა 33,4 მ, აფსიდებითურთ კი 39,6 მ, სიგანე – 11,5 მ. აუზის კედლები, რომელთა სისქე 0,7-1,0 მეტრია, ამოშენებულია მიწაში, რიყის ქვით კირხსნარზე და კარგად გათლილი ქვის ფილებითაა მოპირკეთებული. მოპირკეთებასა და რიყის ქვით აგებულ კედლებს შორის 10 სმ. სისქის ჰიდრავლიკური ხსნარის იზოლაციაა გაკეთებული. აუზის ჩრდილოეთ ნაწილში, რომლითაც აბანოს უკავშირდება, ცხრასაფეხურიანი კიბეა მოწყობილი. აუზში დასასვენებელი ქვის მერხებია, ასევე მოწყობილია ტრაპი, რომელიც გათლილი ქვით ნაგებ კანალიზაციის კოლექტორს უერთდება. საცურაო აუზი წყლით ივსებოდა დასავლეთის მხრიდან ორი მილსადენის საშუალებით. აუზი ახ. წ. II – III საუკუნეებით თარიღდება.
 <p>
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3681.577434732934!2d44.615565976587575!3d41.959578260308184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x404461d5b28dc601%3A0xe4ddc223c62a2edb!2sDzalisa%20Archaeological%20Museum%20Reserve!5e1!3m2!1sen!2sge!4v1746124248211!5m2!1sen!2sge" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </p>
</div>