<div class="main-info">

    <h1>
        ძალისი — ანტიკური ხანის ერთ-ერთი მნიშვნელოვანი არქეოლოგიური ძეგლი, ნაქალაქარი მდებარეობს დღევანდელ სოფელ ძალისში, მუხრანის ველზე, მდინარე ნარეკვავის ორივე ნაპირზე, მცხეთიდან ჩრდილო-დასავლეთით 20 კმ-ის დაშორებით და იდენტიფიცირებულია ქალაქ ძალისასთან (Zalissa), რომელსაც ახ. წ. II საუკუნის ბერძენი გეოგრაფი კლავდიოს პტოლემაიოსი „გეოგრაფიულ სახელმძღვანელოში“ (Geographike Hyphegesis) იბერიის აღწერისას სხვა ქალაქებთან ერთად იხსენიებს. <img class="img-haa" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Dzalisi_mosaic_%282%29.jpg/450px-Dzalisi_mosaic_%282%29.jpg" alt="">

        ძალისასა და მის მიდამოებში 1971-1975 წწ. არქეოლოგიურ სამუშაოებს აწარმოებდა ივ. ჯავახიშვილის სახელობის ისტორიის, არქეოლოგიისა და ეთნოგრაფიის ინსტიტუტის ნასტაკისის არქეოლოგიური ექსპედიცია (ხელმძღვანელი ალექსი ბოხოჩაძე). 1975-1985 წწ. ამ მიდამოებში გათხრებს აგრძელებდა არქეოლოგიური კვლევის ცენტრის ნასტაკისის არქეოლოგიური ექსპედიცია კვლავ ა.ბოხოჩაძის ხელმძღვანელობით.
        
        1971-1976 წწ. ძალისის მიდამოებში გამოვლინდა ანტიკური ხანის ნაქალაქარი. აღმოჩნდა სასახლისა და ტაძრის ნაშთები, მოზაიკიანი იატაკის მქონე აბანო, ტაძარ-სასახლის კომპლექსი, საცხოვრებელ ნაგებობათა ნაშთები, კოლექტორები, ტყვიის მილებით შედგენილი წყალსადენის ქსელი, აგურით მოკირწყლული ქუჩებისა და მოედნების ნაწილი, მოზაიკური იატაკები, შემკული მცენარეული და გეომეტრიული ორნამენტებითა და წარწერებით, არქიტექტურული დეტალები. 

        <img class="img-ha" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Dzalisi_-_general_view.jpg/330px-Dzalisi_-_general_view.jpg" alt="">
    </h1>
</div>


